extends layout
block content
   
    section.dashboard
        div
            div.useravatar(style="background-image: url('../avatars/"+ user.avatar +"')")
            div.userinfo
                h2 #[strong= "User" ] : #{user.email}
                p #[strong= "User Image"] : #{user.avatar}
                div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id ante a turpis rutrum ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            