extends layout
block content
    

    section
       h1 Register

       if err
            p.error= err
       
       if (message)
            p.message=message + ", "   
                a(href="/addpost") start posting now!

       
       form(action="/users/register" enctype="multipart/form-data" method="POST" )
            label(for="username") Username
            input(type="text" name="username" required)

            label(for="email") Email
            input(type="email" name="email" required)

            label(for="Password") Password
            input(type="password" name="password" required)
                       
            label(for="avatar" class="avatar") Avatar
               i(class="fas fa-camera") 
            input(type="file" id="avatar" name="avatar" required)
            
            input(type="submit" value="Register")
